apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: elk-high-performance
provisioner: driver.longhorn.io
parameters:
  numberOfReplicas: "3"
  staleReplicaTimeout: "2880"
  fromBackup: ""
  fsType: "ext4"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: elasticsearch-data-pvc
  namespace: enterprise-infra
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: elk-high-performance
  resources:
    requests:
      storage: 100Gi
